@import "mixins";

body{
  margin: 0;
}
h1, p, a{
  color: #FFF;
  font-family: 'Roboto', sans-serif;
}

.hero-container{
  height: 50vh;
  display: flex;
  @include media-query($small){
    height: 100vh;
  };
}

.hero{
  width: 100%;
  background-size: cover;
  display: grid;
  grid-template-columns: 50% 50%;
}

.hero__copy-container{
  text-align: left;
  margin: auto 0;
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
  max-width: 80%;
  @include media-query($small){
    text-align: center;
    max-width: 80%;
    align-items: center;
    height: 38vh;
    margin: auto;
  };
}

@include media-query($medium-up){ //overrides mobile alignment
  .hero__copy-container.align-left{
    grid-column: 1;
    margin-left: 3rem;
  }

  .hero__copy-container.align-center{
    grid-column: 1 / span 2;
    text-align: center;
    max-width: 50%;
    margin: auto;
    .hero__cta{
      margin: auto;
    }
  }
  .hero__copy-container.align-right{
    grid-column: 2;
    margin-right: 3rem;

  }
};

.hero__title{
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 0;
  line-height: 40px;
  @include media-query($small){
    font-size: 36px;
    margin-bottom: unset;
  };
}

.hero__copy{
  font-weight: 300;
  line-height: 32px;
  @include media-query($small){
    margin: auto;
    max-width: 85%;
  };
}

.hero__cta{
  text-decoration: none;
  background-color: #57AD68;
  padding: 1rem 2rem;
  border-radius: 30px;
  font-size: 20px;
  transition:all .2s ease-in-out;
  width: 6rem;
  text-align: center;
}
.hero__cta:hover{
  background-color: #FFFFFF;
  color: #57AD68;
  transition: 0.3s;
}
